@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
.perma {
    font-family: "Permanent Marker", cursive;
}
.jura {
    font-family: "Jura", sans-serif;
}
.sawa {
    font-family: "Sawarabi Mincho", serif;
}

.raleway {
    font-family: "Raleway", sans-serif;

}

.styro-text {
    font-family: var(--font-styro);
}

.sharpie-text {
    font-family: var(--font-sharpie);
}

.pen-text {
    font-family: var(--font-pencerio);
}

.kalam-text {
    font-family: var(--font-kalam);
}

.epilogue-text {
    font-family: var(--font-epilogue);
}
.kola-text {
    font-family: var(--font-kola);
}
.elevator-text {
    font-family: var(--font-elevator);
}
.array-text {
    font-family: var(--font-array);
}
.alpino-text {
    font-family: var(--font-alpino);
}
.technor-text {
    font-family: var(--font-technor);
}